
WW3/.idea/.idea.WW3/.idea/encodings.xml
WW3/.idea/.idea.WW3/.idea/indexLayout.xml
WW3/.idea/.idea.WW3/.idea/riderModule.iml
WW3/.idea/.idea.WW3/.idea/vcs.xml

DEV_FILES/*
WW3/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-7_0_2.so
WW3/Assets/Illusive Gears.meta
WW3/Assets/Illusive Gears/*
WW3/Assets/Illusive Gears/Simple TODO.meta
WW3/Assets/Illusive Gears.meta
