# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.WW3.iml
# Datasource local storage ignored files
/../../../../../../../:\Github\WW3\WW3\.idea\.idea.WW3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
